.svg {
    width: 100%;
    height: 100%;
}

.overlay {

}

.zooming {
    opacity: 0.3;
    filter: grayscale(100%);
}

.hexbin {
    stroke: none;
}

.markerSevere {
    fill:  #212121;
    stroke: #212121;
    stroke-width: 1px;
}

.seriousCircleMesh {
    fill:  none;
    stroke: #212121;
    stroke-width: 1px;
}

.fatalCircleMesh {
    fill: #212121;
    stroke: #212121;
    stroke-width: 1px;
}
