.container {
    width: 100%;
    height: 100%;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
}

.legendPane {
    float: right;
    background-color: #FFF;
    border: 1px solid #AEAEAE;
    padding: 20px;
    box-sizing: border-box;
}

.legendBox {
}


.legendTitle {
    display: block;
    text-align: start;
    margin-bottom: 5px;
    font-weight: bold;
}

.colorLegendLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
}

.colorLegendLineColor {
    flex-shrink: 0;
    width: 40px;
    height: 100%;
}

.colorLegendLineLabel {
    text-align: end;
    padding-left: 5px;
    max-width: 100%;
    min-width: 0;
}

.markerLegend {

}

.markerLegendLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.markerLegendLabel {
    text-align: end;
    padding-left: 5px;
    max-width: 100%;
    min-width: 0;
}


.disabledMessage {

    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    opacity: 0.8;
    background-color: #DEDEDE;
}

.disabledMessage span {
    padding: 2px;
    color: #515151;
    text-align: center;
    max-width: 100px;
}


.clickable {
    cursor: pointer;
    pointer-events: auto;
}




