.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.legendPane {
    position: absolute;
    right: 0;
    width: 300px;
    max-width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.placeholderLegendContent {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: slategray;
    opacity: 0.5;
    /*padding: 30px;*/
}
